name: Deploy FastAPI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t real-estate-api .

      - name: Run Tests
        run: |
          pip install -r requirements.txt
          pytest